# SPDX-FileCopyrightText: 2020-2025, Carles Fernandez-Prades <carles.fernandez@cttc.es>
# SPDX-License-Identifier: MIT
.git
.cache
.gitignore
.github/**
LICENSES/**
LICENSE
README.md
figures
geniux-builder.sh
base-image
jethro
krogoth
morty
pyro
rocko
sumo
thud
warrior
zeus
dunfell
gatesgarth
hardknott
honister
kirkstone
langdale
mickledore
nanbield
master
main
output
scarthgap
styhead
walnascar