# SPDX-FileCopyrightText: 2020-2021, Carles Fernandez-Prades <carles.fernandez@cttc.es>
# SPDX-License-Identifier: MIT
.git
.cache
.gitignore
.github/**
LICENSES/**
LICENSE
README.md
geniux-builder.sh
jethro
krogoth
morty
pyro
rocko
sumo
thud
warrior
zeus
dunfell
gatesgarth
hardknott
honister
kirkstone
master
main
output
