# SPDX-FileCopyrightText: 2020-2022, Carles Fernandez-Prades <carles.fernandez@cttc.es>
# SPDX-License-Identifier: MIT
*~
.DS_Store
jethro/
krogoth/
morty/
pyro/
rocko/
sumo/
thud/
warrior/
zeus/
dunfell/
gatesgarth/
hardknott/
honister/
kirkstone/
langdale/
mickledore/
nanbield/
master/
main/
output/
scarthgap/
styhead/
